{
	security {
		authorization policy moiami_jwt {
			disable auth redirect
			crypto key sso-key-1 verify from file /etc/caddy/sso/public.pem
			validate bearer header
			inject header X-User-Id from id
			inject header X-User-Role from roles
			acl rule {
				field sub exists
				allow stop
			}
		}
	}
}

:80 {
	handle_path /static/* {
		root * /srv/staticfiles
		file_server
	}

	handle /openapi.json {
		reverse_proxy sso:8001
	}

	handle /docs/oauth2-redirect {
		reverse_proxy sso:8001
	}

	handle_path /sso/* {
		root * /sso
		reverse_proxy sso:8001
	}

	@protected_resource_routes {
		path /resource/api/v1/catalog/movies/top /resource/api/v1/catalog/movies/top/
	}
	handle @protected_resource_routes {
		authorize with moiami_jwt
		uri strip_prefix /resource
		root * /resource
		reverse_proxy resource:8000
	}

	@movie_detail_with_token {
		path_regexp ^/resource/api/v1/catalog/movies/[^/]+/$
		header Authorization "Bearer *"
	}
	handle @movie_detail_with_token {
		authorize with moiami_jwt
		uri strip_prefix /resource
		root * /resource
		reverse_proxy resource:8000
	}

	@public_resource_routes `
        path('/resource/api/v1/catalog/movies/') ||
        path_regexp('^/resource/api/v1/catalog/movies/[^/]+/$') ||
        path_regexp('^/resource/api/v1/catalog/movies/[^/]+/genres/$') ||
        path_regexp('^/resource/api/v1/catalog/movies/subscriptions/[^/]+/$') ||
        path('/resource/api/v1/catalog/genres/') ||
        path_regexp('^/resource/api/v1/catalog/genres/[^/]+/$') ||
        path_regexp('^/resource/api/v1/catalog/images/[^/]+/$') ||
        path_regexp('^/resource/api/v1/catalog/videos/[^/]+/$') ||
        path('/resource/api/v1/subscriptions/') ||
        path_regexp('^/resource/api/v1/subscriptions/[^/]+/$') ||
        path_regexp('^/resource/api/v1/users/[^/]+/$') ||
        path_regexp('^/resource/api/v1/users/[^/]+/subscriptions/$') ||
        path_regexp('^/resource/api/v1/users/[^/]+/watchlists/$')
    `
	handle @public_resource_routes {
		uri strip_prefix /resource
		root * /resource
		reverse_proxy resource:8000
	}

	handle_path /resource/* {
		authorize with moiami_jwt
		root * /resource
		reverse_proxy resource:8000
	}

	@public_comment_routes `
        path('/comments/api/v1/comments') ||
        path('/comments/api/v1/comments/') ||
        path_regexp('^/comments/api/v1/comments/[^/]+/?$') ||
        path_regexp('^/comments/api/v1/comments/[^/]+/likes/?$') ||
        path_regexp('^/comments/api/v1/comments/[^/]+/likes/count/?$')
    `
	handle @public_comment_routes {
		uri strip_prefix /comments
		reverse_proxy comments-service:8007
	}

	handle_path /comments/* {
		authorize with moiami_jwt
		reverse_proxy comments-service:8007
	}

	@public_check_routes {
		method GET
		path /check/api/v1/news /check/api/v1/news/
	}
	handle @public_check_routes {
		uri strip_prefix /check
		reverse_proxy check:8002
	}

	handle_path /check/* {
		authorize with moiami_jwt
		reverse_proxy check:8002
	}
}
