:80 {
    handle_path /static/* {
        root * /srv/staticfiles
        file_server
    }

    handle_path /sso/* {
        root * /sso
        reverse_proxy sso:8001
    }

    @public_resource_routes `
        path('/resource/api/v1/catalog/movies/') ||
        path_regexp('^/resource/api/v1/catalog/movies/[^/]+/$') ||
        path_regexp('^/resource/api/v1/catalog/movies/[^/]+/genres/$') ||
        path_regexp('^/resource/api/v1/catalog/movies/subscriptions/[^/]+/$') ||
        path('/resource/api/v1/catalog/genres/') ||
        path_regexp('^/resource/api/v1/catalog/genres/[^/]+/$') ||
        path_regexp('^/resource/api/v1/catalog/images/[^/]+/$') ||
        path_regexp('^/resource/api/v1/catalog/videos/[^/]+/$') ||
        path('/resource/api/v1/subscriptions/') ||
        path_regexp('^/resource/api/v1/subscriptions/[^/]+/$') ||
        path('/resource/api/v1/user-subscriptions/add/') ||
        path_regexp('^/resource/api/v1/user-subscriptions/check/[^/]+/$') ||
        path_regexp('^/resource/api/v1/users/[^/]+/$') ||
        path_regexp('^/resource/api/v1/users/[^/]+/subscriptions/$') ||
        path_regexp('^/resource/api/v1/users/[^/]+/watchlists/$') ||
        path('/resource/api/v1/watchlists') ||
        path_regexp('^/resource/api/v1/watchlists/[^/]+$') ||
        path_regexp('^/resource/api/v1/watchlists/[^/]+/movies$')
    `
    handle @public_resource_routes {
        uri strip_prefix /resource
        root * /resource
        reverse_proxy resource:8000
    }

    handle_path /resource/* {
        forward_auth /* sso:8001 {
            method POST
            uri /api/v1/auth/validate
            copy_headers X-User-Id
            copy_headers X-User-Role
        }
        root * /resource
        reverse_proxy resource:8000
    }

    handle_path /comments/* {
        forward_auth /* sso:8001 {
            method POST
            uri /api/v1/auth/validate
            copy_headers X-User-Id
            copy_headers X-User-Role
        }
        reverse_proxy comments-service:8007
    }

    handle_path /check/* {
        forward_auth /* sso:8001 {
            method POST
            uri /api/v1/auth/validate
            copy_headers X-User-Id
            copy_headers X-User-Role
        }
        reverse_proxy check:8002
    }
}
